<button
    class="e-control e-btn"
    style="position: absolute;"
    id="targetButton"
    (click)="onOpenDialog($event)">
    Abrir Dialogo
</button>

<div #container class='root-container'></div>
<ejs-dialog
    id='dialog'
    #ejDialog
    header='Dialog'
    showCloseIcon='true'
    [visible]='visible'
    isModal='true'
    content='This is a modal dialog'
    [target]='targetElement'
    width='95%'
    height="90%"
    [buttons]='buttons'>
    <ng-template #header>
        <span class='title'>Descripción</span>
    </ng-template>
</ejs-dialog>