<div #container class='root-container'></div>
<ejs-dialog
    id='dialog'
    #ejDialog
    header='Dialog'
    showCloseIcon='true'
    [visible]='visible'
    isModal='true'
    content='This is a modal dialog'
    [target]='targetElement'
    width='95%'
    height="90%"
    [buttons]='buttons'>
    <ng-template #header>
        <span class='title'>Descripción</span>
    </ng-template>
    <ng-template #content>
        <div class="h-screen">
            <div class="grid grid-cols-2 gap-4 h-full p-4">
                <div class="col-span-1 row-span-10 bg-gray-200 p-4 border border-gray-300">Columna 1, Fila 1</div>
                <div class="col-span-1 bg-green-200 p-4 border border-gray-300">Columna 2, Fila 1</div>
                <div class="col-span-1 bg-green-200 p-4 border border-gray-300">Columna 2, Fila 2</div>
                <div class="col-span-1 bg-green-200 p-4 border border-gray-300">Columna 2, Fila 3</div>
                <div class="col-span-1 bg-green-200 p-4 border border-gray-300">Columna 2, Fila 4</div>
                <div class="col-span-1 bg-green-200 p-4 border border-gray-300">Columna 2, Fila 5</div>
                <div class="col-span-1 bg-green-200 p-4 border border-gray-300">Columna 2, Fila 6</div>
                <div class="col-span-1 bg-green-200 p-4 border border-gray-300">Columna 2, Fila 7</div>
                <div class="col-span-1 bg-green-200 p-4 border border-gray-300">Columna 2, Fila 8</div>
                <div class="col-span-1 bg-green-200 p-4 border border-gray-300">Columna 2, Fila 9</div>
                <div class="col-span-1 bg-green-200 p-4 border border-gray-300">Columna 2, Fila 10</div>
            </div>
        </div>
    </ng-template>
</ejs-dialog>