/* Colores resaltados de los textbox */
.pastel-orange {
    background-color: #fbe0ce;
    border-radius: 5px;
}

.pastel-ambar {
    background-color: #ffe699;
    border-radius: 5px;
}

.pastel-yellow {
    background-color: #ffff99;
    border-radius: 5px;
}

/* Color del marco del icono */
.icon-border-ambar {
    background: linear-gradient(to right, #FFD700, #FFC000, #FFB700, #FFAC00, #FFD700);
    animation: gradient-animation 3s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }