.pastel-orange {
    background-color: #F4B084;
    border-radius: 5px;
}

.pastel-ambar {
    background-color: #FFC000;
    border-radius: 5px;
}

.pastel-yellow {
    background-color: #FFFF00;
    border-radius: 5px;
}